@charset "UTF-8";
.txt {width: 50%;background: #fdfdfd; padding: 0 2em; margin:0 auto;}
body {width: auto; background: #dddddd;}
.bachg {width: auto; background: #eee;}
.title h1 {display: block;margin: 10px 0; padding: 1em auto;}
header li{display: inline-block;margin: 10px 0;list-style: none; float: left; padding: 0 20em;}
body:active{transform: translate(2em,0)}